.lower-part-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 70%), 0 3px 4px -2px rgb(0 0 0 / 50%);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #ffffffe1;
  width: 95%;
  height: 30%;
  margin: 16px 0;
  padding: 16px;
}

.workflow-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.workflow-main-text {
  width: 40%;
}

.workflow-support-text {
  width: 50%;
}

.workflow-img-wrapper {
  width: 75%;
}

.workflow-list-img {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .workflow-text-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .workflow-main-text {
    width: 100%;
  }

  .workflow-support-text {
    width: 100%;
  }

  .workflow-img-wrapper {
    width: 100%;
  }
}
