.report-page-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #303c8091;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 73px;
  margin-top: 64px;
}

@media only screen and (max-width: 600px) {
  .report-page-wrapper {
    margin-left: 57px;
  }
}
