.notification-wrapper {
    margin-right: 16px;
}

.notification-menu {
    overflow: auto;
    max-height: 200px;
}

.notification-item {
    display: flex;
    white-space: pre-wrap;
}

.load-more-notification-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-notification {
    padding: 16px;
}