/* .App {
  text-align: center;
} */

.full-width {
  width: 100%;
}

.full-width-btn {
  width: 100%;
}

.form-item {
  margin-top: 16px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navigation-link {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}

.navigation-title {
  text-transform: uppercase;
  font-size: x-large;
  margin: 16px 0;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #f7f3eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

@media only screen and (max-width: 600px) {
  .page-wrapper {
    margin-top: 56px;
  }
}
