.report-list-card {
  overflow-y: auto;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 70%), 0 3px 4px -2px rgb(0 0 0 / 50%);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #ffffffe1;
  width: 40vw;
  height: 60vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.graph-card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 16px;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 70%), 0 3px 4px -2px rgb(0 0 0 / 50%);
  border-radius: 8px;
}

.chart-header {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
}

.chart-img {
  height: 135px;
  width: 135px;
}

.graph-card:hover {
    background-color: #d8d2d2e1;
}

@media only screen and (max-width: 600px) {
  .report-list-card {
    width: 100vw;
    height: 100vh;
    padding: 0px;
  }
}
